node_modules/
/test-results/
/tests/coverage-report
.local-browsers/
/.dev_profile*
.DS_Store
*.swp
*.pyc
.vscode
.idea
yarn.lock
/packages/playwright-core/src/generated/*
packages/*/lib/
node_modules/*
drivers/
.android-sdk/
.gradle/
nohup.out
.trace
.tmp
allure*
playwright-report
test-results
/demo/
.env
packages/*
/tests/installation/output/
/tests/installation/.registry.json
.cache/
.eslintcache
